body{
    background-color: #f4f4f4;    
    margin: 0;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
header{
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    margin-left: 1%;
    margin-right: 2%;
}
h1,h2,h3,h4,h5{
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.buscar{
    font-size: 25px;
    margin-top:15px
}
.logo{
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
}
.logolink{
    color: #2c2d4b;
    text-decoration: none;
}
.fila{
    display: flex;
    width: 100%;
    gap: 30px;
    margin: 10px;
    margin-bottom: 50px;
}
.ochenta{
    width:80%
}
.tercio{
    width:75%
}
.cuarto{
    width:25%
}
.quinto{
    width:20%
}
.medio{
    width:50%
}
.dos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.dos .caja{
    width: 48%;
}
.cinco{
    display: flex;
    gap: 10px;
}
.revimg{
    width: 300px;
    height: 160px !important;
}
.revsem{
    width:50%
}
.caja{        
    background-color: #fff;   
    overflow: hidden; 
}
.third{
    width: 33%;
}
.caja img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.cajaazul{        
    background-color: #2c2d4b;   
    overflow: hidden; 
}
.cajaazul img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.contentcaja{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contentcaja h4{
    margin-top: 0px;
    margin-bottom: 10px;
}
.contentcaja p{
    color: #666;
    margin-top: 0px;
    margin-bottom: 0px;    
    font-weight: 300;
    font-size: 0.8em;
}
.contentcaja span{
    font-family: "Frank Ruhl Libre", serif;
    color: #666;
    font-size: 10px;
}
.contentcajaazul{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contentcajaazul h4{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #FFF;
}
.contentcajaazul p{
    color: #EEE;
    margin-top: 0px;
    margin-bottom: 0px;    
    font-weight: 300;
    font-size: 0.8em;
}
.contentcajaazul span{
    font-family: "Frank Ruhl Libre", serif;
    color: #abade4;
    font-size: 10px;
}
.subtitulo {
    display: flex;
    flex-direction: row;
    font-family: "Frank Ruhl Libre", serif;
    color: #2c2d4b;
    font-weight: 600;
    margin-bottom: 20px;
 }
.subtitulo:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ddd;
    margin: auto;
    margin-left: 10px;
}
.corto{
    display: flex;
    width: 60%;
}
.notdestacada{
    display: flex;
    width: 100%;
}
.mitad{
    width: 50%;
}
.fecdest{
    font-family: "Frank Ruhl Libre", serif;
    color: #666;
    font-size: 12px;
}
blockquote{
    font-family: "Frank Ruhl Libre", serif;
    color: #2c2d4b;
    font-size: 2em;
}
.shortreview{
    padding: 50px 100px 0 0;
    font-size: 0.8em;
    color: #666;
}
.leermas {
    width: 50%;
    display: flex;
    flex-direction: row;
    font-family: "Frank Ruhl Libre", serif;
    color: #2c2d4b;
    font-weight: 600;
    margin-bottom: 20px;
 }
.leermas:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #ddd;
    max-width: 50px;
    margin: auto;
    margin-right: 10px;
}
.spacemin{
    margin-top: 50px;
}
.horbanner{
    width: 100%;
}

/* latest-news-section */
.latest-news-section {
    background: #003035;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10px;
    margin-bottom: 50px;
}

.latest-news-section .container {
    position: relative;
    z-index: 2;
}

.latest-news-section .slider-wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-news-section .latest-news-slider {
    max-width: 50%;
    width: 50%;
    position: relative;
    z-index: 10;
}

.latest-news-section .latest-news-slide {
    padding: 60px 60px 120px 60px;
    background: #2c2d4b;
}
/*
.latest-news-section .latest-news-slide .inner-wrapper {
    
}
*/
.latest-news-section .latest-news-slide span {
    display: block;
    margin-bottom: 30px;
    color: #abade4
}

.latest-news-section .latest-news-slide h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
    color: #FFF;
}

.latest-news-section .latest-news-slide a {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #EEE;
    color: #EEE;
}

.latest-news-section .latest-news-slide a:hover {
    border-bottom: 1px solid transparent;
}

.latest-news-section .slick-arrow {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    cursor: pointer;
    background: none;
    color: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: 10;
}

.latest-news-section .slick-arrow.slick-prev {
    left: 60px;
    /*  INSERT THE ARROW ICON AS BACKGROUND IMAGE HERE  */
    background-position: center center;
    background-repeat: no-repeat;
}

.latest-news-section .slick-arrow.slick-next {
    left: 110px;
    /*  INSERT THE ARROW ICON AS BACKGROUND IMAGE HERE  */
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-wrapper {
    position: relative;
}

.latest-news-slider-2-wrapper {
    width: 100%;
    max-width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
}

.latest-news-slider-2 {
    height: 100%;
    width: 100%;
}

.latest-news-slider-2-slide {
    width: 100%;
}

.latest-news-slider-2-slide-img {
    height: 100%;
    width: 100%;
}

.latest-news-slider-2-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 1s;
}

.latest-news-slider-2-slide.slick-active img {
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.5s;
}

.latest-news-section .slick-arrow {
    border: 2px solid #FFF;
    margin-left: -105px;
    top: 50px;
}
.imgdestacada{
    width: 100%;
}
.caja:hover{
    cursor: pointer;
    background-color: #2c2d4b;
    transition: all 1s;
}
.caja:hover .contentcaja span{
    color: #FFF !important
}
.caja:hover .contentcaja h4{
    color: #FFF !important
}
.caja:hover .contentcaja p{
    color: #FFF !important
}
/* FOOTER */

footer{
    padding: 50px 50px 20px 50px;
    background-color: #2c2d4b;
    display: flex;
    flex-direction: column;
    color: #FFF;
}
footer .columnas{
    display: flex;
    padding-bottom: 20px;
}

footer .columna{
    width: 25%;
}

.columna p{
    font-size: 0.8em;
    color:#BBB;
    line-height: 1.5em;
}

.columna a{
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    font-size: 0.8em;
}
.columna a:hover{
    text-decoration: underline;
}

.columna .social{
    display: flex;
    gap: 20px;
    margin-top: 20px
}

.columna .social i{
    color: #FFF
}

.columna ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding:0;
    margin: 0;
    margin-top: 20px
}

.columna ul li{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 0.8em;
}

.bordecolumna{
    border-left: solid 1px #ccc;
    padding: 0 10px 0 10px;
}

.piedepagina{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-top: solid 1px #ccc;
}

.piedepagina p{
    font-size: 0.8em;
    color:#BBB;
    line-height: 1.5em;
}

.titulofoot{
    font-family: "Frank Ruhl Libre", serif;
    color: #FFF;
    font-weight: 600;
    font-size: 1.5em;
}

/* NEWSLETTER */

.newsletter-form {
    --primary: #275efe;
    --primary-dark: #2055ee;
    --primary-darkest: #133fc0;
    --input-placeholder: #a6accd;
    --input-text: #646b8c;
    --border-default: #e1e6f9;
    --border-active: #275efe;
    --background: #fff;
    --button-text: #ffffff;
    --success: #275efe;
    --trails: rgba(39, 94, 254, 0.15);
    display: flex;
    align-items: center;
    max-width: 250px;
    width: 100%;
    background: var(--background);
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border, var(--border-default));
    border-radius: 9px;
    padding-right: 4px;
    transition: box-shadow 0.25s;
  }
  .newsletter-form:focus-within {
    --border-width: 1.5px;
    --border: var(--border-active);
  }
  .newsletter-form input,
  .newsletter-form button {
    -webkit-appearance: none;
    background: none;
    outline: none;
    display: block;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  .newsletter-form input {
    width: 100%;
    flex-grow: 1;
    padding: 12px 12px 12px 16px;
    color: var(--input-text);
    font-weight: 400;
  }
  .newsletter-form input::-moz-placeholder {
    color: var(--input-placeholder);
  }
  .newsletter-form input:-ms-input-placeholder {
    color: var(--input-placeholder);
  }
  .newsletter-form input::placeholder {
    color: var(--input-placeholder);
  }
  .newsletter-form button {
    --text-opacity: 1;
    --success-x: -12px;
    --success-stroke: 14px;
    --success-opacity: 0;
    --border-radius: 7px;
    --overflow: hidden;
    --x: 0px;
    --y: 0px;
    --rotate: 0deg;
    --plane-x: 0px;
    --plane-y: 0px;
    --plane-opacity: 1;
    --trails-stroke: 57px;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0%;
    --left-wing-first-y: 0%;
    --left-wing-second-x: 50%;
    --left-wing-second-y: 0%;
    --left-wing-third-x: 0%;
    --left-wing-third-y: 100%;
    --left-body-background: var(--primary);
    --left-body-first-x: 50%;
    --left-body-first-y: 0%;
    --left-body-second-x: 50%;
    --left-body-second-y: 100%;
    --left-body-third-x: 0%;
    --left-body-third-y: 100%;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50%;
    --right-wing-first-y: 0%;
    --right-wing-second-x: 100%;
    --right-wing-second-y: 0%;
    --right-wing-third-x: 100%;
    --right-wing-third-y: 100%;
    --right-body-background: var(--primary);
    --right-body-first-x: 50%;
    --right-body-first-y: 0%;
    --right-body-second-x: 50%;
    --right-body-second-y: 100%;
    --right-body-third-x: 100%;
    --right-body-third-y: 100%;
    position: relative;
    padding: 8px 0;
    min-width: 100px;
    text-align: center;
    font-weight: 600;
    opacity: var(--button-opacity, 0.5);
    cursor: var(--button-cursor, not-allowed);
    filter: var(--button-filter, grayscale(65%));
    color: var(--button-text);
    border-radius: var(--border-radius);
    transform: translateZ(0);
    transition: opacity 0.25s, filter 0.25s;
    -webkit-tap-highlight-color: transparent;
  }
  .newsletter-form button:not(.active) {
    background: var(--primary);
  }
  .newsletter-form button .plane,
  .newsletter-form button .trails {
    pointer-events: none;
    position: absolute;
  }
  .newsletter-form button .plane {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(var(--x), var(--y)) rotate(var(--rotate)) translateZ(0);
  }
  .newsletter-form button .plane .left,
  .newsletter-form button .plane .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(var(--plane-x), var(--plane-y)) translateZ(0);
  }
  .newsletter-form button .plane .left:before, .newsletter-form button .plane .left:after,
  .newsletter-form button .plane .right:before,
  .newsletter-form button .plane .right:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius);
    transform: translate(var(--part-x, 0.25%), var(--part-y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--b, var(--left-wing-background));
    -webkit-clip-path: polygon(var(--first-x, var(--left-wing-first-x)) var(--first-y, var(--left-wing-first-y)), var(--second-x, var(--left-wing-second-x)) var(--second-y, var(--left-wing-second-y)), var(--third-x, var(--left-wing-third-x)) var(--third-y, var(--left-wing-third-y)));
            clip-path: polygon(var(--first-x, var(--left-wing-first-x)) var(--first-y, var(--left-wing-first-y)), var(--second-x, var(--left-wing-second-x)) var(--second-y, var(--left-wing-second-y)), var(--third-x, var(--left-wing-third-x)) var(--third-y, var(--left-wing-third-y)));
  }
  .newsletter-form button .plane .left:after {
    --part-x: 0;
    --z-index: 1;
    --b: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
  }
  .newsletter-form button .plane .right:before {
    --part-x: -0.25%;
    --z-index: 2;
    --b: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
  }
  .newsletter-form button .plane .right:after {
    --part-x: 0;
    --z-index: 1;
    --b: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
  }
  .newsletter-form button .trails {
    display: block;
    width: 33px;
    height: 64px;
    top: -4px;
    left: 16px;
    fill: none;
    stroke: var(--trails);
    stroke-linecap: round;
    stroke-width: 2;
    stroke-dasharray: 57px;
    stroke-dashoffset: var(--trails-stroke);
    transform: rotate(68deg) translateZ(0);
  }
  .newsletter-form button span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
  }
  .newsletter-form button span.success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: translateX(var(--success-x)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--success);
  }
  .newsletter-form button span.success svg {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin: 4px 8px 0 0;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 14px;
    stroke: var(--success);
    stroke-dashoffset: var(--success-stroke);
  }
  .newsletter-form.valid {
    --button-opacity: 1;
    --button-cursor: pointer;
    --button-filter: grayscale(0%);
  }

/* MENU */

#menuToggle {
	display: block;
    width: 30px;
    height: 30px;
	position: relative;
    top: 10px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #000;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #FFF;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #2c2d4b;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu ul li {
    text-decoration: none;
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
    color: #FFF;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

.linkmenu {
    text-decoration: none;
    color: #fff
}

.linkmenu:hover {
    text-decoration: none;
    color: #a6accd
}

.doscolumnas{
    display: flex;
    gap: 20px;
}
.columnaprincipal{
    width: 70%;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0 20px 0;
}
.mainimg{
    object-fit: cover;
    width: 100%;
    height: 350px
}

.mainfecha{
    padding: 20px 0 20px 0;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.maincontent{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.maincontent p{
    font-size: 1.2em;
}

/* RATING */

.moviecard {
    font-family: 'Helvetica', sans-serif, 'Ariel';
    position: relative;
    background: #ffffff;
    color: #555555;
    margin: 50px auto;
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    padding: 30px 300px 30px 30px;
    -moz-box-shadow: -5px 5px 15px;
    -webkit-box-shadow: -5px 5px 15px;
    box-shadow: -5px 5px 15px;
    border-radius: 5px;
  }
  .moviecard #movie-content {
    opacity: 1;
    width: 100%;
    display: table;
    transition: all 500ms ease-out;
    position: relative;
  }
  .moviecard .movie-title {
    font-size: 36px;
    padding-bottom: 6px;
    color: #333333;
  }
  .moviecard .movie-title .movie-year {
    margin-left: 12px;
    font-size: 16px;
  }
  .moviecard .movie-title a {
    color: #333333;
    text-decoration: none;
  }
  .moviecard .movie-title a:hover {
    color: #858585;
  }
  .moviecard .movie-details {
    font-size: 12px;
    padding-bottom: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
  }
  .moviecard .movie-details span {
    padding: 0px 6px;
    border-right: 1px solid #dbdbdb;
  }
  .moviecard .movie-details span:last-child {
    border: none;
  }
  .moviecard .movie-castcrew {
    padding-top: 12px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .moviecard .movie-castcrew span.title {
    color: #333333;
    display: inline-block;
    width: 80px;
    font-weight: 600;
  }
  .moviecard .movie-synopsis {
    margin: 24px 0px;
    padding-top: 24px;
    border-top: 1px solid #dbdbdb;
    max-height: 130px;
    height: 130px;
    overflow-y: hidden;
    width: 90%;
  }
  .moviecard .movie-ratings {
    position: absolute;
    right: 50px;
  }
  .moviecard .movie-ratings span.star {
    display: inline-block;
    margin-right: 12px;
    color: #F0DE00;
    font-size: 36px;
  }
  .moviecard .movie-ratings span.score {
    font-size: 30px;
    color: #333333;
    font-weight: 800;
  }
  .moviecard .movie-trailer-btn {
    text-transform: uppercase;
    outline: none;
    padding: 15px 50px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  .moviecard .movie-trailer-btn:hover {
    text-decoration: underline;
  }
  .moviecard .movie-trailer-btn:hover:before {
    color: #333333;
  }
  .moviecard .movie-trailer-btn:hover:after {
    border-color: #333333;
  }
  .moviecard .movie-trailer-btn:before {
    content: '▸';
    font-size: 30px;
    color: #333333;
    position: absolute;
    top: 2px;
    left: 20px;
  }
  .moviecard .movie-trailer-btn:after {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #333333;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 12px;
  }
  .moviecard .movie-trailer {
    width: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 100%;
    transition: all 500ms;
    top: 0px;
    background: #ffffff;
    z-index: 1;
    padding: 60px 40px 60px 60px;
    border-radius: 5px;
  }
  .moviecard .movie-trailer a.back-btn {
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 12px 6px 18px;
    position: absolute;
    top: 12px;
    left: 300px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
  }
  .moviecard .movie-trailer a.back-btn:before {
    content: '⌜';
    position: absolute;
    left: 5px;
    top: 1px;
    transform: rotate(-45deg);
    font-size: 20px;
  }
  .moviecard .movie-trailer a.back-btn:hover {
    color: #333;
  }
  .moviecard .movie-trailer iframe {
    width: 100%;
    height: 100%;
  }
  .moviecard .movie-poster {
    position: absolute;
    background: url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2024/06/call-of-duty-black-ops-6-tag-page-cover-art.jpg");
    background-color: #dbdbdb;
    background-size: 360px 540px;
    background-repeat: no-repeat;
    height: 0;
    width: 350px;
    height: 500px;
    right: -50px;
    top: -20px;
    -moz-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 500ms ease-out;
    z-index: 10;
  }
  .moviecard .movie-poster:hover:before {
    color: rgba(255, 255, 255, 0.8);
  }
  .moviecard.movie-view-trailer .movie-poster {
    right: 600px;
  }
  .moviecard.movie-view-trailer #movie-content {
    opacity: 0;
    width: 0px;
  }
  .moviecard.movie-view-trailer .movie-trailer {
    width: 100%;
    opacity: 1;
    padding-left: 300px;
  }
  .moviecard.movie-view-trailer .movie-trailer #youvideo {
    height: 100%;
  }

/* sharing */

.sharing {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sharing-gap, 0.5rem);
    padding: 10px 0 10px 0
  }
  .sharing-item {
    transition: background 0.3s, color 0.3s;
    color: var(--sharing-color, #fff);
    background-color: var(--sharing-bg, #000);
    padding: var(--sharing-padding, 0.875rem);
    border-radius: var(--sharing-radius, 0.5rem);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.05);
  }
  .sharing-item .i {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: transform 0.3s;
    stroke-width: 2;
    width: var(--sharing-size, 22px);
    height: var(--sharing-size, 22px);
    display: block;
  }
  .sharing-item:hover {
    background-color: #fff;
    --sharing-color: var(--sharing-bg, #000);
  }
  .sharing-item:hover .i {
    transform: rotate(360deg);
  }
  .sharing-facebook {
    --sharing-bg: #1778F2 ;
  }
  .sharing-bluesky {
    --sharing-bg: #0085ff ;
  }
  .sharing-twitter {
    --sharing-bg: #55ACEE ;
  }
  .sharing-pinterest {
    --sharing-bg: #F0002A ;
  }
  .sharing-threads {
    --sharing-bg: #000000 ;
  }
  .sharing-tumblr {
    --sharing-bg: #35465C ;
  }
  .sharing-reddit {
    --sharing-bg: #FF4500 ;
  }
  .sharing-vk {
    --sharing-bg: #4376A6 ;
  }
  .sharing-whatsapp {
    --sharing-bg: #4FCE5D ;
  }
  .sharing-telegram {
    --sharing-bg: #0088CC ;
  }
  .sharing-linkedin {
    --sharing-bg: #0077B5 ;
  }
  .sharing-envelope {
    --sharing-bg: #464EB8 ;
  }

@media only screen and (max-width: 600px) {

    body{     
        overflow-x: hidden;
    }
    header nav{
        z-index: 1000;
    }
    #menu {
        padding: 25px;
        background: #2c2d4b;
        border: 2px solid #FFF;
    }
    main {
        margin-left: 0px;
        margin-right: 20px;
    }
    .latest-news-section .latest-news-slider {
        max-width: 100%;
        width: 100%;
    }

    .latest-news-slider-2-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .latest-news-section .slick-arrow.slick-prev {
        left: 110px;
        top: 25px;
    }

    .latest-news-section .slick-arrow.slick-next {
        left: 160px;
        top: 25px;
    }

    .fila{
        flex-direction: column;
    }

    .ochenta{
        width:100%
    }
    .tercio{
        width:100%
    }
    .cuarto{
        width:100%
    }
    .quinto{
        width:100%
    }
    .medio{
        width:100%
    }
    .cinco{
        flex-direction: column;
    }
    .cinco .caja{
        width: 100%;
    }
    .corto{
        width: 100%;
    }
    .shortreview{
        padding: 10px;
    }
    .mitad{
        width: 100%;
    }
    .notdestacada {
        flex-direction: column;
    }
    .notdestacada blockquote {
        margin: 10px;
    }
    footer {
        padding: 10px 15px 20px 15px;
    }
    footer .columnas {
        flex-wrap: wrap;
        gap: 20px;
    }
    footer .columna {
        width: 100%;
    }
    .bordecolumna {
        padding: 0 5px 0 5px;
    }
    .doscolumnas{
        padding-left: 20px;
        flex-direction: column;
    }
    .columnaprincipal{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .moviecard {
        width: 400px;
        max-width: 100%;      
        padding: 30px 20px 30px 30px;
    }
    .moviecard .movie-poster {        
        width: 150px;
        height: 200px;
        right: 0px;
        top: -20px; 
        background-size: cover;       
    }
    .moviecard .movie-ratings {
        left: 0px;
    }
    .moviecard .movie-title {
        margin-top: 50px;
        font-size: 26px;
        font-weight: 600;
        margin-right: 200px
    }
    .revsem{
        width:100%
    }
}